
// FONT
$font-base: Helvetica, sans-serif;
$color-text:#738299;
$dark-color:#152C5B;

// COLOR ELEMENTS
$yellow:#FEBD3D;
$green:#5CCAA7;
$odoo-blue:#038AFF;
$blue:#3EA3FD;
$purple:#161348;
$light-grey:#FAFBFF;
$white:#ffffff;
